NODE_ENV=development

PORT=3000

API_PREFIX=api

# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:password@localhost:5432/partnership_db"

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:3000